<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="sqlConnection"
         connectionString="Data Source=gamer-pc;Initial Catalog=Nyilvantartas;Persist Security Info=True;User ID=nyilvantartasdb;Password=Nyilvan1234" />
    <!--connectionString="Data Source=tcp:84.2.26.239,1433;Initial Catalog=Nyilvantartas;Persist Security Info=True;User ID=nyilvantartasdb;Password=Nyilvan1234" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>