<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="sqlConnection" connectionString="Data Source=tcp:5.187.197.206,1433;Initial Catalog=Nyilvantartas;Persist Security Info=True;User ID=nyilvantartasdb;Password=Nyilvan1234" />
    <add name="JungTamasHOBZUB_CsillagDavidJC2RK4_Beadando.My.MySettings.wtDBConnectionString"
      connectionString="Data Source=GAMER-PC\SQLHOME;Initial Catalog=wtDB;Persist Security Info=True;User ID=sa;Password=2SS3BJSDbu"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>